<!DOCTYPE html>
<html lang="en" ng-app="sample">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rental</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
</head>

<body ng-controller="mainController">

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

    <div class="row col-sm-12">

        <div class="col-md-4">
            <a class="navbar-brand" href="#">Rental App</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <select  ng-model="input.returnedBook" class="custom-select" id="inlineFormCustomSelect">
                    <option value="Select Option" selected>Select Book</option>
                    <option  ng-repeat="book in books" value="{{book.bookId}}" ng-if="book.borrowedBy != undefined && book.borrowedBy == userId">{{book.title}}{{book.borrowedBy}}</option>
                </select>

                <button type="submit"  ng-disabled="input.returnedBook == 'Select Option'" ng-click="returnBook()" class="btn btn-primary">Return Book</button>
            </div>
        </div>

    </div>

</nav>

<div class="container" ng-hide="loggedIn">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" ng-model="input.username" class="form-control" placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="input.password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="signIn()" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->

<div class="container" ng-hide="!loggedIn">
    <div class="column" style="padding-top: 10%">
        <div class="container col-sm-12" style="" >
            <div class="card text-left" ng-repeat="book in books" style="margin-bottom: 4px; min-height: 230px">
                <div class="card-block" >
                    <h4 class="card-title">{{book.title}}</h4>
                    <p class="card-text">Author: {{book.author}}</p>
                    <p class="card-text">Published: {{book.published}}</p>
                    <p class="card-text">{{book.borrowedBy ? "Borrowed": "Available"}}</p>
                    <a href="#" class="btn btn-primary" ng-hide="book.borrowedBy != undefined" ng-click="borrowBook(book.bookId)">Rent</a>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
